body {
  background-color: $color-dark;
  color: $color-light;
  text-align: center;
}

a {
  &:link, &:visited { color: darken($color-light, 20%); }
  &:hover, &:active { color: $color-light; }
}

header {
  position: relative;
  background-color: $color-key;
  color: $color-dark;

  h1 {
    position: relative;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 4em;
    font-size: 6em;
  }

  canvas#voronoi {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
}

section {
  margin: 4em auto;
  padding: 0 1em;
  max-width: 768px;

  h2 {
    font-family: 'Montserrat', sans-serif;
    color: $color-key;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 3em;
    line-height: 6em;
  }

  #slack form {
    font-size: 1em;
  }
}
