#slack_form {
  form {
    display: table;
    font-size: 1.5em;
    color: $color-dark;
    height: 2.5em;
    width: 100%;
    max-width: 20em;
    margin: 1em auto;

    > * {
      display: table-cell;
    }

    label {
      width: 2.5em;
      background: $color-light url('../slack.png') center center no-repeat;
      background-size: 1.5em;
      vertical-align: middle;
      border-radius: .2em 0 0 .2em;
    }

    input {
      width: 100%;
      height: 2.5em;
      border: 0;
      border-radius: 0;
      padding: 0;
    }

    .submit {
      width: 4em;
      color: $color-light;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      border-radius: 0 .2em .2em 0;
    }

    label, input {
      background-color: darken($color-light, 40%);
    }
  }

  .success { color: $color-slack-success; }
  .error { color: $color-key; }

  @mixin invitation_status($name, $background-color, $label) {
    .invitation_#{$name} {
      .submit {
        background-color: $background-color;
        &::before { content: $label; }
      }
      @content;
    }
  }

  @include invitation_status('unsent', $color-slack-default, 'JOIN') {
    label, input {
      background-color: $color-light;
    }
    .submit:hover {
      background-color: lighten($color-slack-default, 10%);
    }
  }
  @include invitation_status('sending', $color-slack-default, '') {
    .submit {
      background: lighten($color-slack-default, 10%) url('../loading.gif') center center no-repeat;
    }
  }
  @include invitation_status('success', $color-slack-success, '✓');
  @include invitation_status('error', $color-slack-error, 'NG...');
}

@media (max-width: 768px) {
  #slack_form form {
    font-size: 1em;
  }
}
